In [3]:
import tatqa_utils
import pandas as pd

In [4]:
devdf = pd.read_json('dataset_raw/tatqa_dataset_dev.json')

In [5]:
import pandas as pd
import pyreadstat
from langchain_chroma import Chroma
from langchain_openai import OpenAIEmbeddings
import utils
from langchain_community.vectorstores import FAISS
from langchain_core.documents import Document
import numpy as np
from progress.bar import Bar
%load_ext autoreload
%autoreload 2

In [6]:
import os
with open('dataset_raw/openai.api.key', 'r') as filek: 
    openai_key = filek.read()
os.environ["OPENAI_API_KEY"] =  openai_key

In [7]:
from langchain.globals import set_llm_cache
from langchain_openai import ChatOpenAI
from langchain_community.cache import SQLiteCache

llm = ChatOpenAI(temperature=0)
set_llm_cache(SQLiteCache(database_path=".langchain.db"))

In [8]:
def gen_code_A(llm, question, table):
    prompt = f"Given the following table, can you generate a python code, without sample data, which can answer the following question? the code must contain only one function called 'run', and no wrapping class. The function would return numeric results. Do not write explanation, just code.\nQuestion: {question} \n Table: {table}"
    return llm.invoke(prompt)
gen_code_A(llm, 'What is 1?', '[]')

AIMessage(content='def run():\n    return 1', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 7, 'prompt_tokens': 72, 'total_tokens': 79, 'completion_tokens_details': {'audio_tokens': None, 'reasoning_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': None, 'cached_tokens': 0}}, 'model_name': 'gpt-3.5-turbo-0125', 'system_fingerprint': None, 'finish_reason': 'stop', 'logprobs': None}, id='run-119f123f-4923-41e1-b801-f856de8b359e-0', usage_metadata={'input_tokens': 72, 'output_tokens': 7, 'total_tokens': 79, 'input_token_details': {'cache_read': 0}, 'output_token_details': {'reasoning': 0}})

In [13]:
def gen_code(llm, question, table):
    prompt = f"Given the following table, can you generate a python code, without sample data, which can answer the following question? the code must contain only one function called 'run', and no wrapping class. The function would return numeric results. Do not write explanation, just code.\nQuestion: {question} \n Table: {table}"
    res = llm.invoke(prompt)
    code = res.content.replace('```python','').replace('```','')
    return code

def exec_code(code, table):  
    try: 
        loc = locals()   
        if not "run()" in code:
            exec(code + f"\nr = run({table})\n", globals(), loc)
        else: 
            exec(code + "\nr = run()\n", globals(), loc)
        return loc['r']
    except Exception as e:
            s = str(e)
            print('[Error] ' + s)
            return None
table = "[['', '', 'Years Ended September 30,', ''], ['', '2019', '2018', '2017'], ['Fixed Price', '$  1,452.4', '$  1,146.2', '$  1,036.9'], ['Other', '44.1', '56.7', '70.8'], ['Total sales', '$1,496.5', '$1,202.9', '$1,107.7']]"
code = gen_code(llm, 'What is the change in Other in 2019 from 2018?', table)
exec_code(code, table)

-12.600000000000001

In [23]:
from tqdm.notebook import tqdm as log_progress

res = []
for i, item in log_progress(devdf.iterrows()):
    table = item['table']['table']
    for q in item['questions']:        
        if q['answer_type'] == 'arithmetic' and 'table' in q['answer_from']: 
            code = gen_code(llm, q, table)
            pred = exec_code(code, table)
            #res.append({"table":table, "q":q, "pred":pred, "code": code})
            res.append(({"answer_type":q["answer_type"], "answer": q["answer"], 'scale': ''}, pred, '', q, code))

0it [00:00, ?it/s]

[Error] could not convert string to float: ''
178.66666666666666
[Error] '2019 €m' is not in list
[Error] invalid literal for int() with base 10: '(19911)'
73
[Error] could not convert string to float: 'Dividend yiel'
[Error] could not convert string to float: '1,372.3'
[Error] invalid literal for int() with base 10: ''
-14212
[Error] could not convert string to float: '1,073.3'
[Error] invalid literal for int() with base 10: '1,050'
[Error] invalid literal for int() with base 10: ''
[Error] '(' was never closed (<string>, line 3)
[Error] list index out of range
[Error] '(' was never closed (<string>, line 2)
[Error] invalid literal for int() with base 10: ''
[Error] invalid literal for int() with base 10: '(9)'
[Error] invalid literal for int() with base 10: '$(3990'
[Error] invalid literal for int() with base 10: '(1149550)'
2849050
[Error] '(' was never closed (<string>, line 5)
[Error] invalid syntax. Perhaps you forgot a comma? (<string>, line 3)
[Error] invalid literal for int() with base 10: '—'
424.0
[Error] '(' was never closed (<string>, line 3)
[Error] '(' was never closed (<string>, line 4)
-7
[Error] 'F19' is not in list
[Error] could not convert string to float: '2,450.8'
[Error] closing parenthesis '}' does not match opening parenthesis '(' (<string>, line 4)
[Error] '(' was never closed (<string>, line 3)
-43
[Error] invalid literal for int() with base 10: '—'
[Error] unterminated string literal (detected at line 5) (<string>, line 5)
[Error] unterminated string literal (detected at line 3) (<string>, line 3)
-0.10000000000000009
[Error] could not convert string to float: '—'
[Error] invalid literal for int() with base 10: '(9)'
[Error] could not convert string to float: '—'
[Error] invalid literal for int() with base 10: '—'
77395
[Error] could not convert string to float: ''
91.6
[Error] invalid literal for int() with base 10: 'Cash-settled awards'
251.3
[Error] invalid literal for int() with base 10: '—'
6.100000000000001
[Error] '(' was never closed (<string>, line 10)
90494
1454.5
[Error] invalid literal for int() with base 10: '(5062)'
[Error] list index out of range
[Error] '(' was never closed (<string>, line 3)
2053.5
57
[Error] '(' was never closed (<string>, line 5)
[Error] division by zero
622908
58442
[Error] could not convert string to float: '(0.1)'
1541.5
[Error] could not convert string to float: ''
[Error] invalid literal for int() with base 10: '(5625)'
[Error] could not convert string to float: '(5625)'
[Error] float division by zero
[Error] invalid literal for int() with base 10: '(238)'
[Error] invalid literal for int() with base 10: '32,137'
[Error] invalid literal for int() with base 10: '9%'
[Error] '(' was never closed (<string>, line 3)
[Error] '(' was never closed (<string>, line 3)
[Error] invalid literal for int() with base 10: '(9)%'
[Error] '(' was never closed (<string>, line 3)
75.2
[Error] invalid literal for int() with base 10: '$ 64.77'
[Error] could not convert string to float: ''
[Error] could not convert string to float: '1,779'
[Error] invalid literal for int() with base 10: '(2129)'
[Error] invalid literal for int() with base 10: '$8620'
[Error] list index out of range
[Error] invalid literal for int() with base 10: '(18)'
[Error] invalid literal for int() with base 10: 'Regional films (excluding Tamil films)'
[Error] invalid literal for int() with base 10: ''
[Error] invalid literal for int() with base 10: '3,538'
17842
33534
[Error] could not convert string to float: '3.27)'
[Error] '(' was never closed (<string>, line 3)
[Error] invalid literal for int() with base 10: '1,310'
[Error] could not convert string to float: '9,538.4'
[Error] invalid literal for int() with base 10: '(1108)'
0.004544817325476754
0.40000000000000013
[Error] unterminated string literal (detected at line 3) (<string>, line 3)
[Error] 'April 28, 2018 (2)' is not in list
-1
-236.0
[Error] unterminated string literal (detected at line 10) (<string>, line 10)
[Error] could not convert string to float: '$1758'
[Error] '(' was never closed (<string>, line 3)
0
1400.0
[Error] invalid literal for int() with base 10: '(365162)'
9754
[Error] '2019' is not in list
8325.0
27923
[Error] invalid literal for int() with base 10: '1,001'
[Error] invalid literal for int() with base 10: '6,736'
[Error] invalid literal for int() with base 10: 'Restructuring charges (2)'
[Error] invalid literal for int() with base 10: '$2266'
[Error] '(' was never closed (<string>, line 3)
1183.9999999999998
[Error] invalid literal for int() with base 10: '7,658'
[Error] '(' was never closed (<string>, line 3)
[Error] '(' was never closed (<string>, line 3)
[Error] '(' was never closed (<string>, line 3)
2.1000000000000085
[Error] '(' was never closed (<string>, line 3)
[Error] could not convert string to float: '1,308.4'
[Error] 'April 27, 2018' is not in list
[Error] invalid literal for int() with base 10: '22,989'
[Error] '(' was never closed (<string>, line 3)
[Error] unterminated string literal (detected at line 4) (<string>, line 4)
[Error] invalid literal for int() with base 10: '$30303'
[Error] invalid literal for int() with base 10: 'Non-Swiss'
[Error] invalid literal for int() with base 10: '$1046'
[Error] 'July 27, 2019' is not in list
[Error] invalid literal for int() with base 10: '$2822'
[Error] invalid literal for int() with base 10: '(1,709)'
[Error] invalid literal for int() with base 10: '1,951'
[Error] invalid literal for int() with base 10: '—'
[Error] invalid literal for int() with base 10: '1,116'
[Error] unsupported operand type(s) for -: 'tuple' and 'tuple'
[Error] '(' was never closed (<string>, line 3)
[Error] '(' was never closed (<string>, line 3)
462.0
-0.20000000000000018
[Error] invalid literal for int() with base 10: '(1,074)'
2140.0
[Error] invalid literal for int() with base 10: '—'
[Error] '(' was never closed (<string>, line 3)
[Error] list index out of range
[Error] invalid literal for int() with base 10: '2,321'
[Error] invalid literal for int() with base 10: '9,196'
[Error] invalid literal for int() with base 10: '1,429'
[Error] invalid literal for int() with base 10: '(7125)'
[Error] unsupported operand type(s) for /: 'tuple' and 'int'
21244
140
[Error] invalid literal for int() with base 10: '1,663'
[Error] invalid literal for int() with base 10: '29,423'
0.5
[Error] invalid literal for int() with base 10: 'Cost of revenue'
[Error] could not convert string to float: 'Total'
9865
11749
[Error] invalid literal for int() with base 10: '(12632)'
[Error] could not convert string to float: 'Net income per basic share (1)'

In [26]:
metrics = TaTQAEmAndF1()

for ans, pred, pred_scale, _,_ in res:
    metrics(ans, pred, pred_scale)
pred_em, pred_f1, scale_score, op_score = metrics.get_overall_metric(reset=True)
print( pred_em, pred_f1, scale_score)

0.6054131054131054 0.6054131054131054 0.8190883190883191

In [30]:
import pickle
with open('res_p1_noscale.pickle', 'wb') as f:
    pickle.dump(res,f)