In [1]:
#### import tatqa_utils
import pandas as pd
import table_convert
import pyreadstat
from langchain_chroma import Chroma
from langchain_openai import OpenAIEmbeddings
import utils
from langchain_community.vectorstores import FAISS
from langchain_core.documents import Document
import numpy as np
from progress.bar import Bar
%load_ext autoreload
%autoreload 2

In [2]:
import os
with open('dataset_raw/openai.api.key', 'r') as filek: 
    openai_key = filek.read()
os.environ["OPENAI_API_KEY"] =  openai_key

In [3]:
from langchain.globals import set_llm_cache
from langchain_openai import ChatOpenAI
from langchain_openai import OpenAI
from langchain_community.cache import SQLiteCache

llm = ChatOpenAI(temperature=0)
#llm = OpenAI(temperature=0) 
set_llm_cache(SQLiteCache(database_path=".langchain.db"))

In [4]:
devdf = pd.read_json('dataset_raw/tatqa_dataset_dev.json')

In [42]:
from openai import OpenAI

def gen_code2(question, value_list):
 
    client = OpenAI()
    
    response = client.chat.completions.create(
      model="gpt-3.5-turbo",
      messages=[
         {
          "role": "system",
          "content": "You are a helpful assistant with a subtask in a question-answering pipeline. The questions are related to a financial report. " + 
             "Financial report is stored as a list of annotated values. You will receive the financial report as an annotated value list and the question. "+
             "Your task is to generate a Python function that can calculate a numeric value that is the answer for the received question."
             
            # "Here is an example:\n\n"+
            # "Question: \nWhat is the ratio of IMFTâ€™s total assets to total liabilities in 2019? \n" + 
            # "Value list: \n[{'number_value': 118.0, 'scale': '', 'category': 'Accounts payable and accrued expenses', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 138.0, 'scale': '', 'category': 'Accounts payable and accrued expenses', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 696.0, 'scale': '', 'category': 'Current debt', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 20.0, 'scale': '', 'category': 'Current debt', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 37.0, 'scale': '', 'category': 'Other current liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 9.0, 'scale': '', 'category': 'Other current liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 851.0, 'scale': '', 'category': 'Total current liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 167.0, 'scale': '', 'category': 'Total current liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 53.0, 'scale': '', 'category': 'Long-term debt', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 1064.0, 'scale': '', 'category': 'Long-term debt', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 5.0, 'scale': '', 'category': 'Other noncurrent liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 74.0, 'scale': '', 'category': 'Other noncurrent liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 909.0, 'scale': '', 'category': 'Total liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 1305.0, 'scale': '', 'category': 'Total liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}] \n"+
            # "Generated code: \n"+
            #"""
            #def run(value_list):
            #    total_assets = 0
            #    total_liabilities = 0
                
            #    for item in value_list:
            #        if item['category'] == 'Total assets':
            #            total_assets = item['number_value']
            #        elif item['category'] == 'Total liabilities':
            #            total_liabilities = item['number_value']
                
            #    ratio = total_assets / total_liabilities
            #    return (round(ratio, 2), '')"
            #""" 
        },
        {
          "role": "user",
          "content": f"Here is the financial report as a list of annotated values: {value_list}"
        },         
        {
          "role": "assistant",
          "content": "Ok, I received the value list."
        },
        {
          "role": "user",
          "content": f"Here is the question requires calculation on the financial report: {question}"
        },
        {
          "role": "assistant",
          "content": "Ok, I received the question."
        },
        {
          "role": "user",
          "content": "Generate a Python function 'run(value_list)' that can answer the question using the list of annotated values! "+
            "The function must return a tuple (number, scale). The resulting number is a float with accuracy to two decimal places. Scale usually is thousand, million, billion, percent or an empty string. "+
            "The calculation usually involves two steps: a selection and a calculation on selected data. "+
            "If the question is about calculating the average value in a given year, you have to calculate the average between the given year and the previous one. It is aka Average Book Value. A value always represents year-end value.  "+
            "Do not generate explanation, nor example code, just the function."
        },
        {
          "role": "assistant",
          "content": "Ok, I have all the information. The Python function is as follows:"
        },
      ],
      temperature=0,
      #max_tokens=64,
      top_p=1
    )
    code =  response.choices[0].message.content.replace('```python','').replace('```','')
    #code = response.choises[0].message.content.replace('```python','').replace('```','')
    #return response
    #code = response.content.replace('```python','').replace('```','')
    return ("", code)
    

def gen_code(llm, question, value_list):  
        #prompt = f"Generate a Python function 'run(table)' that can answer the following question using the following table! The function must return numeric float results with accuracy to two decimal places. If result value or calculation is percent calculation return format (value, 'percent'), every orher case return (value, '') . Do not generate explanation, nor example code, just the function.\n\nQuestion: {question}  \n\nTable: {table}"
        prompt = f"You are a helpful assistant to answer questions in the financial reports domain. Generate a Python function 'run(value_list)' that can answer the following question using the following JSON value list, annotated with category and metadata! The function must return a tuple (number, scale). Result number is float with accuracy to two decimal places. Scale usually is thousand, million, billion, percent or an empty string. Always use categories to select the proper values for calculation. Usually year selection is necessary the proper values for calculation. Do not generate explanation, nor example code, just the function. \n\nQuestion: {question}  \n\Value list: {value_list}"
        res = llm.invoke(prompt)
        code = res.content.replace('```python','').replace('```','')
        return (prompt, code)
    
def exec_code(code, value_list):  
        try: 
            loc = locals()   
            if not "run()" in code:
                exec(code + f"\nr = run({value_list})\n", globals(), loc)
            else: 
                exec(code + "\nr = run()\n", globals(), loc)
            return loc['r']
        except Exception as e:
                s = '[Error]'+ str(e)
                print(s)
                return (s,'')

In [43]:
vl =  [{'number_value': 118.0, 'scale': '', 'category': 'Accounts payable and accrued expenses', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 138.0, 'scale': '', 'category': 'Accounts payable and accrued expenses', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 696.0, 'scale': '', 'category': 'Current debt', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 20.0, 'scale': '', 'category': 'Current debt', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 37.0, 'scale': '', 'category': 'Other current liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 9.0, 'scale': '', 'category': 'Other current liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 851.0, 'scale': '', 'category': 'Total current liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 167.0, 'scale': '', 'category': 'Total current liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 53.0, 'scale': '', 'category': 'Long-term debt', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 1064.0, 'scale': '', 'category': 'Long-term debt', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 5.0, 'scale': '', 'category': 'Other noncurrent liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 74.0, 'scale': '', 'category': 'Other noncurrent liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}, {'number_value': 909.0, 'scale': '', 'category': 'Total liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}, {'number_value': 1305.0, 'scale': '', 'category': 'Total liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}]
def run(value_list):
    total_assets = 0
    total_liabilities = 0
    
    for item in value_list:
        if item['category'] == 'Total assets':
            total_assets = item['number_value']
            print(total_assets)
        elif item['category'] == 'Total liabilities':
            total_liabilities = item['number_value']
            print(total_liabilities)
    ratio = total_assets / total_liabilities
    
    return (round(ratio, 2), '')
run(vl)

909.0
1305.0

(0.0, '')

In [44]:
1305.0 /909.0

1.4356435643564356

In [45]:
[print(l) for l in vl]

{'number_value': 118.0, 'scale': '', 'category': 'Accounts payable and accrued expenses', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}
{'number_value': 138.0, 'scale': '', 'category': 'Accounts payable and accrued expenses', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}
{'number_value': 696.0, 'scale': '', 'category': 'Current debt', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}
{'number_value': 20.0, 'scale': '', 'category': 'Current debt', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}
{'number_value': 37.0, 'scale': '', 'category': 'Other current liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}
{'number_value': 9.0, 'scale': '', 'category': 'Other current liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}
{'number_value': 851.0, 'scale': '', 'category': 'Total current liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}
{'number_value': 167.0, 'scale': '', 'category': 'Total current liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}
{'number_value': 53.0, 'scale': '', 'category': 'Long-term debt', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}
{'number_value': 1064.0, 'scale': '', 'category': 'Long-term debt', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}
{'number_value': 5.0, 'scale': '', 'category': 'Other noncurrent liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}
{'number_value': 74.0, 'scale': '', 'category': 'Other noncurrent liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}
{'number_value': 909.0, 'scale': '', 'category': 'Total liabilities', 'header1': '', 'header2': '$2,664', 'header3': '38', 'header4': '2,235', 'header5': '391', 'header6': '9', 'header7': '124', 'header8': '128', 'header9': '$130', 'header10': '', 'header11': '2019'}
{'number_value': 1305.0, 'scale': '', 'category': 'Total liabilities', 'header1': '', 'header2': '$3,025', 'header3': '45', 'header4': '2,641', 'header5': '339', 'header6': '8', 'header7': '114', 'header8': '126', 'header9': '$91', 'header10': '', 'header11': '2018'}

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [46]:
devdf = pd.read_json('dataset_raw/tatqa_dataset_dev.json')
item = devdf.iloc[0]
table = item['table']['table']
#table = table_convert.fill_table_headers(table)
value_list = table_convert.convert_multitable(table)


pars = [p['text'] for p in item['paragraphs']]
question = item['questions'][5]['question']
print(question)
#( prompt, code) = gen_code(llm, question, value_list)
( prompt, code) = gen_code2(question, value_list)
res = exec_code(code, value_list)
print(value_list, code, res,  item['questions'][5]['answer'])

What is the percentage change in Other in 2019 from 2018?
[{'number_value': 1452.4, 'scale': '', 'category': 'Fixed Price', 'header1': '2019', 'header2': 'Years Ended September 30,'}, {'number_value': 1146.2, 'scale': '', 'category': 'Fixed Price', 'header1': '2018', 'header2': 'Years Ended September 30,'}, {'number_value': 1036.9, 'scale': '', 'category': 'Fixed Price', 'header1': '2017', 'header2': 'Years Ended September 30,'}, {'number_value': 44.1, 'scale': '', 'category': 'Other', 'header1': '2019', 'header2': 'Years Ended September 30,'}, {'number_value': 56.7, 'scale': '', 'category': 'Other', 'header1': '2018', 'header2': 'Years Ended September 30,'}, {'number_value': 70.8, 'scale': '', 'category': 'Other', 'header1': '2017', 'header2': 'Years Ended September 30,'}, {'number_value': 1496.5, 'scale': '', 'category': 'Total sales', 'header1': '2019', 'header2': 'Years Ended September 30,'}, {'number_value': 1202.9, 'scale': '', 'category': 'Total sales', 'header1': '2018', 'header2': 'Years Ended September 30,'}, {'number_value': 1107.7, 'scale': '', 'category': 'Total sales', 'header1': '2017', 'header2': 'Years Ended September 30,'}]
def run(value_list):
    other_2019 = next(item['number_value'] for item in value_list if item['category'] == 'Other' and item['header1'] == '2019')
    other_2018 = next(item['number_value'] for item in value_list if item['category'] == 'Other' and item['header1'] == '2018')

    percentage_change = ((other_2019 - other_2018) / other_2018) * 100

    return (round(percentage_change, 2), 'percent')
 (-22.22, 'percent') -22.22

In [47]:
from tqdm.notebook import tqdm as log_progress

res = []
for i, item in log_progress(devdf.iterrows()):
    table = item['table']['table']
    value_list = table_convert.convert_multitable(table)
    
    #docs = valuelist2docs(value_list)
    #v_vectorstore = FAISS.from_documents(docs, OpenAIEmbeddings())
    #v_retriever = v_vectorstore.as_retriever()
            
    #pars = [p['text'] for p in item['paragraphs']]
    #table = transform_elements(table, remove_thousand_separators)
    #table = [remove_thousand_separators(cell) for row in table for cell in row]
    #table = [cell.replace('$', '') for row in table for cell in row]
    #print (table)
    for q in item['questions']:        
        if q['answer_type'] == 'arithmetic' and 'table' in q['answer_from']:            
            #sel = v_retriever.invoke(question)
            #sel_txt = '[' + ','.join([i.page_content for i in sel])  + ']'

            #( prompt, code)  = gen_code(llm, q['question'], value_list)
            ( prompt, code)  = gen_code2(q['question'], value_list)
            r = exec_code(code, value_list)
            err =  None
            if r is None:
                (pred_value, pred_scale) = ("", "")
            else:   
                if len(r) == 2:                    
                    (pred_value, pred_scale) = r    
                    if isinstance(pred_value, tuple) and len(pred_value) == 2:
                        print('$$$$')
                        (pred_value, pred_scale) = pred_value                     
                    if pred_scale == "%" or pred_scale == "percentage"  :
                        pred_scale = 'percent'
                    if pred_scale not in ["", 'thousand', 'million', 'billion', 'percent']:
                        print('Invalid ', pred_scale)
                        pred_scale = ""    
                    #if item['table']['uid'] in res_scale and pred_scale != 'percent':
                    #    pred_scale = res_scale[item['table']['uid']]
                    if isinstance(pred_value, str):
                        #print("string")
                        if  pred_value.startswith('[Error]'):
                            (pred_value, pred_scale) = ("", "")
                            err,_ = r                                                        
                        
                elif len(r) == 1:
                    (pred_value, pred_scale) = (r, "")        
                else:
                    (pred_value, pred_scale) = ("", "")        
                
                
                
            #res.append({"table":table, "q":q, "pred":pred, "code": code})
            res.append(({"answer_type":q["answer_type"], "answer": q["answer"], 'scale': q["scale"]}, pred_value, pred_scale, q, code, prompt,value_list, err))

0it [00:00, ?it/s]

[Error]
[Error]
Invalid  $â€™000
Invalid  $â€™000
Invalid  Â£m
[Error]unsupported operand type(s) for -: 'float' and 'NoneType'
[Error]unsupported operand type(s) for -: 'NoneType' and 'NoneType'
[Error]division by zero

IndexError: list index out of range

In [16]:
table

[['', '', 'As of February 28, 2019', ''],
 ['', '', 'ASC 606', 'Without ASC 606'],
 ['', 'As reported', 'Adjustments', 'Adoption'],
 ['Assets', '', '', ''],
 ['Prepaid expenses and other current assets (1)',
  '$19,373',
  '(1,473)',
  '$17,900'],
 ['Deferred income tax assets', '22,626', '(532)', '22,094'],
 ['Other assets (1)', '22,510', '(3,319)', '19,191'],
 ['', "Liabilities and Stockholders' Equity", '', ''],
 ['Deferred revenue (2)', '$24,264', '(1,945)', '22,319'],
 ['Other non-current liabilities (2)', '38,476', '(5,353)', '33,123'],
 ["Stockholders' equity:", '', '', ''],
 ['Accumulated deficit', '$(2,227)', '1,689', '(538)']]

In [48]:
from tatqa_metric import TaTQAEmAndF1

metrics = TaTQAEmAndF1()

for ans, pred, pred_scale, _,_, _,_,_ in res:
    metrics(ans, pred, pred_scale)
pred_em, pred_f1, scale_score, op_score = metrics.get_overall_metric(reset=False)
print( pred_em, pred_f1, scale_score)

0.5555555555555556 0.5555555555555556 0.6111111111111112

In [49]:
good = 0
for ans, pred, pred_scale, q,code, _,value_list,err in res:
    llimit = ans['answer']*0.99
    ulimit = ans['answer']*1.01
    
    if pred  is None or isinstance(pred, tuple) or isinstance(pred, str):
        #if ans['scale'] != pred_scale:
        #    print ('***********', q['uid'], 'pred: ',pred, 'scale:',pred_scale, ' <> ' , ans['answer'], ans['scale'])
       
        #type error
        #if isinstance(pred, str):
        #    print (pred, pred_scale, ' -- ' , ans['answer'])
        #if isinstance(pred, tuple):
        #    print (pred, pred_scale, ' == ' , ans['answer'], ans['scale'])
        #print('===============================================================================')
        print('{',pred, '}', ans['answer'], ans['scale'], err)
        continue
    
    #pred = round(pred, 2)
    
    if (pred > 0 and llimit < pred and pred < ulimit) or (pred < 0 and llimit > pred and pred > ulimit) or pred==ulimit or pred == llimit:
        good = good + 1
        #if ans['scale'] == pred_scale and  pred_scale == 'thousand':
        #    print ('***********', q['uid'], 'pred: ',pred, 'scale:',pred_scale, ' == ' , ans['answer'], ans['scale'])
        
        #if ans['scale'] != pred_scale:
        #    print ('***********', q['uid'], 'pred: ',pred, 'scale:',pred_scale, ' <> ' , ans['answer'], ans['scale'])
        #if  ans['scale'] == 'thousand':
        #    print (q['uid'], pred, pred_scale, ' == ' , ans['answer'], ans['scale'])
          
    else:
        #value error
        #  if ans['scale'] != pred_scale:
        #    print ('***********', q['uid'], 'pred: ',pred, 'scale:',pred_scale, ' <> ' , ans['answer'], ans['scale'])
        #if ans['answer'] != pred and ans['scale'] == pred_scale and pred_scale != "":
        #    print ('***********', q['uid'], 'pred: ',pred, 'scale:',pred_scale, ' <> ' , ans['answer'], ans['scale'])
       
        #None
        print (q['uid'],q['derivation'], pred, pred_scale, ' <> ' , ans['answer'], ans['scale'])
        print(q['question'])
        print(value_list)
        #print(value_list)
        print(code)
        
    #if isinstance(pred, str):
    #    print (pred, pred_scale, ' -- ' , ans['answer'])
    #if isinstance(pred, tuple):
    #    print (pred, pred_scale, ' == ' , ans['answer'], ans['scale'])
        
print (good/len(res))

263d03ec-83d2-48df-8376-1a72167798f7 2,641/3,025  87.31 percent  <>  0.87
What is the proportion of IMFTâ€™s property, plant, and equipment over total assets in 2018?
[{'number_value': 130.0, 'scale': '', 'category': 'Cash and equivalents', 'header1': '', 'header2': '2019'}, {'number_value': 91.0, 'scale': '', 'category': 'Cash and equivalents', 'header1': '', 'header2': '2018'}, {'number_value': 128.0, 'scale': '', 'category': 'Receivables', 'header1': '', 'header2': '2019'}, {'number_value': 126.0, 'scale': '', 'category': 'Receivables', 'header1': '', 'header2': '2018'}, {'number_value': 124.0, 'scale': '', 'category': 'Inventories', 'header1': '', 'header2': '2019'}, {'number_value': 114.0, 'scale': '', 'category': 'Inventories', 'header1': '', 'header2': '2018'}, {'number_value': 9.0, 'scale': '', 'category': 'Other current assets', 'header1': '', 'header2': '2019'}, {'number_value': 8.0, 'scale': '', 'category': 'Other current assets', 'header1': '', 'header2': '2018'}, {'number_value': 391.0, 'scale': '', 'category': 'Total current assets', 'header1': '', 'header2': '2019'}, {'number_value': 339.0, 'scale': '', 'category': 'Total current assets', 'header1': '', 'header2': '2018'}, {'number_value': 2235.0, 'scale': '', 'category': 'Property, plant, and equipment', 'header1': '', 'header2': '2019'}, {'number_value': 2641.0, 'scale': '', 'category': 'Property, plant, and equipment', 'header1': '', 'header2': '2018'}, {'number_value': 38.0, 'scale': '', 'category': 'Other noncurrent assets', 'header1': '', 'header2': '2019'}, {'number_value': 45.0, 'scale': '', 'category': 'Other noncurrent assets', 'header1': '', 'header2': '2018'}, {'number_value': 2664.0, 'scale': '', 'category': 'Total assets', 'header1': '', 'header2': '2019'}, {'number_value': 3025.0, 'scale': '', 'category': 'Total assets', 'header1': '', 'header2': '2018'}, {'number_value': 118.0, 'scale': '', 'category': 'Accounts payable and accrued expenses', 'header1': '', 'header2': '2019'}, {'number_value': 138.0, 'scale': '', 'category': 'Accounts payable and accrued expenses', 'header1': '', 'header2': '2018'}, {'number_value': 696.0, 'scale': '', 'category': 'Current debt', 'header1': '', 'header2': '2019'}, {'number_value': 20.0, 'scale': '', 'category': 'Current debt', 'header1': '', 'header2': '2018'}, {'number_value': 37.0, 'scale': '', 'category': 'Other current liabilities', 'header1': '', 'header2': '2019'}, {'number_value': 9.0, 'scale': '', 'category': 'Other current liabilities', 'header1': '', 'header2': '2018'}, {'number_value': 851.0, 'scale': '', 'category': 'Total current liabilities', 'header1': '', 'header2': '2019'}, {'number_value': 167.0, 'scale': '', 'category': 'Total current liabilities', 'header1': '', 'header2': '2018'}, {'number_value': 53.0, 'scale': '', 'category': 'Long-term debt', 'header1': '', 'header2': '2019'}, {'number_value': 1064.0, 'scale': '', 'category': 'Long-term debt', 'header1': '', 'header2': '2018'}, {'number_value': 5.0, 'scale': '', 'category': 'Other noncurrent liabilities', 'header1': '', 'header2': '2019'}, {'number_value': 74.0, 'scale': '', 'category': 'Other noncurrent liabilities', 'header1': '', 'header2': '2018'}, {'number_value': 909.0, 'scale': '', 'category': 'Total liabilities', 'header1': '', 'header2': '2019'}, {'number_value': 1305.0, 'scale': '', 'category': 'Total liabilities', 'header1': '', 'header2': '2018'}]

def run(value_list):
    property_value = 0
    total_assets_value = 0

    for item in value_list:
        if item['category'] == 'Property, plant, and equipment' and item['header2'] == '2018':
            property_value = item['number_value']
        elif item['category'] == 'Total assets' and item['header2'] == '2018':
            total_assets_value = item['number_value']

    proportion = (property_value / total_assets_value) * 100 if total_assets_value != 0 else 0

    return (round(proportion, 2), 'percent')

{  } 73 thousand [Error]
{  } 14.07 percent [Error]
22e20f25-669a-46b9-8779-2768ba391955 [(4,411+4,044)/2] -[(4,044+3,316)/2] 4227.5 million  <>  547.5 million
What is the change between 2018 and 2019 average free cash flow?
[{'number_value': 14182.0, 'scale': 'million', 'category': 'Cash generated by operations (refer to note 18)', 'header1': '', 'header2': '2019'}, {'number_value': 13860.0, 'scale': 'million', 'category': 'Cash generated by operations (refer to note 18)', 'header1': '', 'header2': '2018'}, {'number_value': 13781.0, 'scale': 'million', 'category': 'Cash generated by operations (refer to note 18)', 'header1': '', 'header2': '2017'}, {'number_value': 7227.0, 'scale': 'million', 'category': 'Capital additions', 'header1': '', 'header2': '2019'}, {'number_value': 7321.0, 'scale': 'million', 'category': 'Capital additions', 'header1': '', 'header2': '2018'}, {'number_value': 7675.0, 'scale': 'million', 'category': 'Capital additions', 'header1': '', 'header2': '2017'}, {'number_value': 89.0, 'scale': 'million', 'category': 'Working capital movement in respect of capital additions', 'header1': '', 'header2': '2019'}, {'number_value': 171.0, 'scale': 'million', 'category': 'Working capital movement in respect of capital additions', 'header1': '', 'header2': '2018'}, {'number_value': 822.0, 'scale': 'million', 'category': 'Working capital movement in respect of capital additions', 'header1': '', 'header2': '2017'}, {'number_value': 45.0, 'scale': 'million', 'category': 'Disposal of property, plant and equipment', 'header1': '', 'header2': '2019'}, {'number_value': 41.0, 'scale': 'million', 'category': 'Disposal of property, plant and equipment', 'header1': '', 'header2': '2018'}, {'number_value': 43.0, 'scale': 'million', 'category': 'Disposal of property, plant and equipment', 'header1': '', 'header2': '2017'}, {'number_value': 195.0, 'scale': 'million', 'category': 'Restructuring payments', 'header1': '', 'header2': '2019'}, {'number_value': 250.0, 'scale': 'million', 'category': 'Restructuring payments', 'header1': '', 'header2': '2018'}, {'number_value': 266.0, 'scale': 'million', 'category': 'Restructuring payments', 'header1': '', 'header2': '2017'}, {'number_value': 35.0, 'scale': 'million', 'category': 'Other', 'header1': '', 'header2': '2019'}, {'number_value': 34.0, 'scale': 'million', 'category': 'Other', 'header1': '', 'header2': '2017'}, {'number_value': 7071.0, 'scale': 'million', 'category': 'Operating free cash flow', 'header1': '', 'header2': '2019'}, {'number_value': 7001.0, 'scale': 'million', 'category': 'Operating free cash flow', 'header1': '', 'header2': '2018'}, {'number_value': 5627.0, 'scale': 'million', 'category': 'Operating free cash flow', 'header1': '', 'header2': '2017'}, {'number_value': 1040.0, 'scale': 'million', 'category': 'Taxation', 'header1': '', 'header2': '2019'}, {'number_value': 1010.0, 'scale': 'million', 'category': 'Taxation', 'header1': '', 'header2': '2018'}, {'number_value': 761.0, 'scale': 'million', 'category': 'Taxation', 'header1': '', 'header2': '2017'}, {'number_value': 498.0, 'scale': 'million', 'category': 'Dividends received from associates and investments', 'header1': '', 'header2': '2019'}, {'number_value': 489.0, 'scale': 'million', 'category': 'Dividends received from associates and investments', 'header1': '', 'header2': '2018'}, {'number_value': 433.0, 'scale': 'million', 'category': 'Dividends received from associates and investments', 'header1': '', 'header2': '2017'}, {'number_value': 584.0, 'scale': 'million', 'category': 'Dividends paid to non-controlling shareholders in subsidiaries', 'header1': '', 'header2': '2019'}, {'number_value': 310.0, 'scale': 'million', 'category': 'Dividends paid to non-controlling shareholders in subsidiaries', 'header1': '', 'header2': '2018'}, {'number_value': 413.0, 'scale': 'million', 'category': 'Dividends paid to non-controlling shareholders in subsidiaries', 'header1': '', 'header2': '2017'}, {'number_value': 502.0, 'scale': 'million', 'category': 'Interest received and paid', 'header1': '', 'header2': '2019'}, {'number_value': 753.0, 'scale': 'million', 'category': 'Interest received and paid', 'header1': '', 'header2': '2018'}, {'number_value': 830.0, 'scale': 'million', 'category': 'Interest received and paid', 'header1': '', 'header2': '2017'}, {'number_value': 5443.0, 'scale': 'million', 'category': 'Free cash flow (pre-spectrum)', 'header1': '', 'header2': '2019'}, {'number_value': 5417.0, 'scale': 'million', 'category': 'Free cash flow (pre-spectrum)', 'header1': '', 'header2': '2018'}, {'number_value': 4056.0, 'scale': 'million', 'category': 'Free cash flow (pre-spectrum)', 'header1': '', 'header2': '2017'}, {'number_value': 837.0, 'scale': 'million', 'category': 'Licence and spectrum payments', 'header1': '', 'header2': '2019'}, {'number_value': 1123.0, 'scale': 'million', 'category': 'Licence and spectrum payments', 'header1': '', 'header2': '2018'}, {'number_value': 474.0, 'scale': 'million', 'category': 'Licence and spectrum payments', 'header1': '', 'header2': '2017'}, {'number_value': 195.0, 'scale': 'million', 'category': 'Restructuring payments', 'header1': '', 'header2': '2019'}, {'number_value': 250.0, 'scale': 'million', 'category': 'Restructuring payments', 'header1': '', 'header2': '2018'}, {'number_value': 266.0, 'scale': 'million', 'category': 'Restructuring payments', 'header1': '', 'header2': '2017'}, {'number_value': 4411.0, 'scale': 'million', 'category': 'Free cash flow', 'header1': '', 'header2': '2019'}, {'number_value': 4044.0, 'scale': 'million', 'category': 'Free cash flow', 'header1': '', 'header2': '2018'}, {'number_value': 3316.0, 'scale': 'million', 'category': 'Free cash flow', 'header1': '', 'header2': '2017'}]

def run(value_list):
    free_cash_flow_2019 = [item['number_value'] for item in value_list if item['category'] == 'Free cash flow' and item['header2'] == '2019'][0]
    free_cash_flow_2018 = [item['number_value'] for item in value_list if item['category'] == 'Free cash flow' and item['header2'] == '2018'][0]

    average_free_cash_flow = (free_cash_flow_2019 + free_cash_flow_2018) / 2

    return (round(average_free_cash_flow, 2), 'million')

a983501d-2eec-486d-9661-e520c7c8af5e ((85,123 - 79,046) + (63,954 - 62,575)) / 2  -2349.0   <>  3728 thousand
What was the average difference between EBITDA and underlying EBITDA for both FYs?
[{'number_value': 9819.0, 'scale': '', 'category': 'Net profit/(loss) after tax', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 6639.0, 'scale': '', 'category': 'Net profit/(loss) after tax', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 248.0, 'scale': '%', 'category': 'Net profit/(loss) after tax', 'header1': '%', 'header2': 'Change'}, {'number_value': 54897.0, 'scale': '', 'category': 'Add: finance costs', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 25803.0, 'scale': '', 'category': 'Add: finance costs', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 113.0, 'scale': '%', 'category': 'Add: finance costs', 'header1': '%', 'header2': 'Change'}, {'number_value': 8220.0, 'scale': '', 'category': 'Less: interest income', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 5778.0, 'scale': '', 'category': 'Less: interest income', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 42.0, 'scale': '%', 'category': 'Less: interest income', 'header1': '%', 'header2': 'Change'}, {'number_value': 6254.0, 'scale': '', 'category': 'Add/(less): income tax expense/(benefit)', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 4252.0, 'scale': '', 'category': 'Add/(less): income tax expense/(benefit)', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 247.0, 'scale': '%', 'category': 'Add/(less): income tax expense/(benefit)', 'header1': '%', 'header2': 'Change'}, {'number_value': 48442.0, 'scale': '', 'category': 'Add: depreciation and amortisation', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 33038.0, 'scale': '', 'category': 'Add: depreciation and amortisation', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 47.0, 'scale': '%', 'category': 'Add: depreciation and amortisation', 'header1': '%', 'header2': 'Change'}, {'number_value': 79046.0, 'scale': '', 'category': 'EBITDA', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 63954.0, 'scale': '', 'category': 'EBITDA', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 24.0, 'scale': '%', 'category': 'EBITDA', 'header1': '%', 'header2': 'Change'}, {'number_value': 1068.0, 'scale': '', 'category': 'Less: gain on extinguishment of B1 lease', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 1291.0, 'scale': '', 'category': 'Less: gain on extinguishment of APDC leases', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 1344.0, 'scale': '', 'category': 'Less: distribution income', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 3191.0, 'scale': '', 'category': 'Less: distribution income', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 58.0, 'scale': '%', 'category': 'Less: distribution income', 'header1': '%', 'header2': 'Change'}, {'number_value': 5459.0, 'scale': '', 'category': 'Add: APDC transaction costs', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 1812.0, 'scale': '', 'category': 'Add: APDC transaction costs', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 201.0, 'scale': '%', 'category': 'Add: APDC transaction costs', 'header1': '%', 'header2': 'Change'}, {'number_value': 3498.0, 'scale': '', 'category': 'Add: landholder duty on acquisition of APDC properties', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 823.0, 'scale': '', 'category': 'Add: Singapore and Japan costs', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 85123.0, 'scale': '', 'category': 'Underlying EBITDA', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 62575.0, 'scale': '', 'category': 'Underlying EBITDA', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 36.0, 'scale': '%', 'category': 'Underlying EBITDA', 'header1': '%', 'header2': 'Change'}]

def run(value_list):
    ebitda_2019 = next(item for item in value_list if item['category'] == 'EBITDA' and item['header2'] == '30 June 2019')['number_value']
    ebitda_2018 = next(item for item in value_list if item['category'] == 'EBITDA' and item['header2'] == '30 June 2018')['number_value']

    underlying_ebitda_2019 = next(item for item in value_list if item['category'] == 'Underlying EBITDA' and item['header2'] == '30 June 2019')['number_value']
    underlying_ebitda_2018 = next(item for item in value_list if item['category'] == 'Underlying EBITDA' and item['header2'] == '30 June 2018')['number_value']

    diff_2019 = ebitda_2019 - underlying_ebitda_2019
    diff_2018 = ebitda_2018 - underlying_ebitda_2018

    average_diff = (diff_2019 + diff_2018) / 2

    return (round(average_diff, 2), '$â€™000')

64c902c6-f426-4432-84b3-c10b3065716f -9,819 - 6,639  3180.0   <>  -16458 thousand
What was the difference in net profit between both FYs?
[{'number_value': 9819.0, 'scale': '', 'category': 'Net profit/(loss) after tax', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 6639.0, 'scale': '', 'category': 'Net profit/(loss) after tax', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 248.0, 'scale': '%', 'category': 'Net profit/(loss) after tax', 'header1': '%', 'header2': 'Change'}, {'number_value': 54897.0, 'scale': '', 'category': 'Add: finance costs', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 25803.0, 'scale': '', 'category': 'Add: finance costs', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 113.0, 'scale': '%', 'category': 'Add: finance costs', 'header1': '%', 'header2': 'Change'}, {'number_value': 8220.0, 'scale': '', 'category': 'Less: interest income', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 5778.0, 'scale': '', 'category': 'Less: interest income', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 42.0, 'scale': '%', 'category': 'Less: interest income', 'header1': '%', 'header2': 'Change'}, {'number_value': 6254.0, 'scale': '', 'category': 'Add/(less): income tax expense/(benefit)', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 4252.0, 'scale': '', 'category': 'Add/(less): income tax expense/(benefit)', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 247.0, 'scale': '%', 'category': 'Add/(less): income tax expense/(benefit)', 'header1': '%', 'header2': 'Change'}, {'number_value': 48442.0, 'scale': '', 'category': 'Add: depreciation and amortisation', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 33038.0, 'scale': '', 'category': 'Add: depreciation and amortisation', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 47.0, 'scale': '%', 'category': 'Add: depreciation and amortisation', 'header1': '%', 'header2': 'Change'}, {'number_value': 79046.0, 'scale': '', 'category': 'EBITDA', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 63954.0, 'scale': '', 'category': 'EBITDA', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 24.0, 'scale': '%', 'category': 'EBITDA', 'header1': '%', 'header2': 'Change'}, {'number_value': 1068.0, 'scale': '', 'category': 'Less: gain on extinguishment of B1 lease', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 1291.0, 'scale': '', 'category': 'Less: gain on extinguishment of APDC leases', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 1344.0, 'scale': '', 'category': 'Less: distribution income', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 3191.0, 'scale': '', 'category': 'Less: distribution income', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 58.0, 'scale': '%', 'category': 'Less: distribution income', 'header1': '%', 'header2': 'Change'}, {'number_value': 5459.0, 'scale': '', 'category': 'Add: APDC transaction costs', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 1812.0, 'scale': '', 'category': 'Add: APDC transaction costs', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 201.0, 'scale': '%', 'category': 'Add: APDC transaction costs', 'header1': '%', 'header2': 'Change'}, {'number_value': 3498.0, 'scale': '', 'category': 'Add: landholder duty on acquisition of APDC properties', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 823.0, 'scale': '', 'category': 'Add: Singapore and Japan costs', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 85123.0, 'scale': '', 'category': 'Underlying EBITDA', 'header1': '$â€™000', 'header2': '30 June 2019'}, {'number_value': 62575.0, 'scale': '', 'category': 'Underlying EBITDA', 'header1': '$â€™000', 'header2': '30 June 2018'}, {'number_value': 36.0, 'scale': '%', 'category': 'Underlying EBITDA', 'header1': '%', 'header2': 'Change'}]

def run(value_list):
    net_profit_2019 = next(item['number_value'] for item in value_list if item['category'] == 'Net profit/(loss) after tax' and item['header2'] == '30 June 2019')
    net_profit_2018 = next(item['number_value'] for item in value_list if item['category'] == 'Net profit/(loss) after tax' and item['header2'] == '30 June 2018')

    difference = net_profit_2019 - net_profit_2018

    return (round(difference, 2), '$â€™000')

6100c476-160a-4f1e-bfc1-a16f4cc18b52 100 - 82 0   <>  18 million
What was the increase / (decrease) in the cost from 2018 to 2019?

In [13]:
len(res)

36

In [168]:
value_list = [{'number_value': 4.0, 'scale': '%', 'categories': ['Discount rate'], 'metadata': ['2019', 'September 30,', 'Domestic']}, {'number_value': 3.75, 'scale': '%', 'categories': ['Discount rate'], 'metadata': ['2018', 'September 30,', 'Domestic']}, {'number_value': 1.9, 'scale': '%', 'categories': ['Discount rate'], 'metadata': ['2019', 'September 30,', 'International']}, {'number_value': 2.8, 'scale': '%', 'categories': ['Discount rate'], 'metadata': ['2018', 'September 30,', 'International']}, {'number_value': 3.4, 'scale': '%', 'categories': ['Expected return on plan assets'], 'metadata': ['2019', 'September 30,', 'International']}, {'number_value': 3.7, 'scale': '%', 'categories': ['Expected return on plan assets'], 'metadata': ['2018', 'September 30,', 'International']}]

def run(value_list):
    domestic_2019 = None
    domestic_2018 = None
    international_2019 = None
    international_2018 = None
    
    for value in value_list:
        if 'Discount rate' in value['categories']:
            if '2019' in value['metadata'] and 'Domestic' in value['metadata']:
                domestic_2019 = value['number_value']
            elif '2018' in value['metadata'] and 'Domestic' in value['metadata']:
                domestic_2018 = value['number_value']
            elif '2019' in value['metadata'] and 'International' in value['metadata']:
                international_2019 = value['number_value']
            elif '2018' in value['metadata'] and 'International' in value['metadata']:
                international_2018 = value['number_value']
    print()
    domestic_diff = abs(domestic_2019 - domestic_2018)
    international_diff = abs(international_2019 - international_2018)
    
    return (round(abs(domestic_diff - international_diff), 2), '')

run(value_list)

(0.65, '')

In [12]:
wrong_indexes = [idx for idx, m in enumerate(metrics._details) if m['f1']<0.2]
resdf = pd.DataFrame(res)
resdf2 = resdf[resdf.index.isin(wrong_indexes)]

resdf2["answer"] = resdf2[0].apply(lambda x: x['answer'])
resdf2["scale"] = resdf2[0].apply(lambda x: x['scale'])
resdf2["qid"] = resdf2[3].apply(lambda x: x['uid'])
resdf2["q"] = resdf2[3].apply(lambda x: x['question'])
resdf2

/tmp/ipykernel_770237/596054401.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resdf2["answer"] = resdf2[0].apply(lambda x: x['answer'])
/tmp/ipykernel_770237/596054401.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resdf2["scale"] = resdf2[0].apply(lambda x: x['scale'])
/tmp/ipykernel_770237/596054401.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resdf2["qid"] = resdf2[3].apply(lambda x: x['uid'])
/tmp/ipykernel_770237/596054401.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resdf2["q"] = resdf2[3].apply(lambda x: x['question'])

,0,1,2,3,4,5,6,7,answer,scale,qid,q
0,"{'answer_type': 'arithmetic', 'answer': -12.6,...",-12.6,,{'uid': 'eb787966-fa02-401f-bfaf-ccabf3828b23'...,\ndef run(value_list):\n other_2019 = next(...,,"[{'number_value': 1452.4, 'scale': '', 'catego...",None,-12.60,million,eb787966-fa02-401f-bfaf-ccabf3828b23,What is the change in Other in 2019 from 2018?
7,"{'answer_type': 'arithmetic', 'answer': 172, '...",166.0,million,{'uid': 'a0414f81-8dc2-44b2-a441-2c9d9c805c4d'...,\ndef run(value_list):\n total = 0\n cou...,,"[{'number_value': 166.0, 'scale': 'million', '...",None,172.00,million,a0414f81-8dc2-44b2-a441-2c9d9c805c4d,What is the 2019 average defined contribution ...
8,"{'answer_type': 'arithmetic', 'answer': 50.5, ...",57.0,million,{'uid': 'bf7abd62-d9cd-48d2-8826-1457684019a3'...,\ndef run(value_list):\n total = 0\n cou...,,"[{'number_value': 166.0, 'scale': 'million', '...",None,50.50,million,bf7abd62-d9cd-48d2-8826-1457684019a3,What is the 2019 average defined benefit schemes?
9,"{'answer_type': 'arithmetic', 'answer': 121.5,...",138.33,million,{'uid': '4d259081-6da6-44bd-8830-e4de0031744c'...,\ndef run(value_list):\n dc_values = [item[...,,"[{'number_value': 166.0, 'scale': 'million', '...",None,121.50,million,4d259081-6da6-44bd-8830-e4de0031744c,What is the difference between 2019 average de...
13,"{'answer_type': 'arithmetic', 'answer': 2.93, ...",0.0,,{'uid': 'ba6783f3-8207-419a-b407-3f688682caef'...,\ndef run(value_list):\n total_assets = 0\n...,,"[{'number_value': 118.0, 'scale': '', 'categor...",None,2.93,,ba6783f3-8207-419a-b407-3f688682caef,What is the ratio of IMFTâ€™s total assets to to...
14,"{'answer_type': 'arithmetic', 'answer': 0.87, ...",81.53,percent,{'uid': '263d03ec-83d2-48df-8376-1a72167798f7'...,\ndef run(value_list):\n total_assets_2018 ...,,"[{'number_value': 118.0, 'scale': '', 'categor...",None,0.87,,263d03ec-83d2-48df-8376-1a72167798f7,"What is the proportion of IMFTâ€™s property, pla..."
15,"{'answer_type': 'arithmetic', 'answer': -361, ...",-396.0,,{'uid': '78fc6d55-c20c-4f71-99fe-bc40a16e61d0'...,\ndef run(value_list):\n total_assets_2018 ...,,"[{'number_value': 118.0, 'scale': '', 'categor...",None,-361.00,,78fc6d55-c20c-4f71-99fe-bc40a16e61d0,What is the change of IMFTâ€™s total assets from...
16,"{'answer_type': 'arithmetic', 'answer': 73, 's...",,,{'uid': '35d602ae-9131-4291-a30c-49a40f32bbe4'...,\ndef run(value_list):\n vat_receivables_20...,,[],[Error],73.00,thousand,35d602ae-9131-4291-a30c-49a40f32bbe4,What was the change in Value added tax receiva...
17,"{'answer_type': 'arithmetic', 'answer': 14.07,...",,,{'uid': 'a4f782f1-de3b-47a3-87af-1cb33c112b39'...,\ndef run(value_list):\n vat_receivables_20...,,[],[Error],14.07,percent,a4f782f1-de3b-47a3-87af-1cb33c112b39,What was the percentage change in Value added ...
18,"{'answer_type': 'arithmetic', 'answer': 4227.5...",4411.0,million,{'uid': 'dc5e217a-a7b3-4fc9-ac0f-13d328f26b20'...,\ndef run(value_list):\n total_free_cash_fl...,,"[{'number_value': 14182.0, 'scale': 'million',...",None,4227.50,million,dc5e217a-a7b3-4fc9-ac0f-13d328f26b20,What is the 2019 average free cash flow?
19,"{'answer_type': 'arithmetic', 'answer': 3680, ...",4044.0,million,{'uid': '7cd3aedf-1291-4fea-bc9d-a25c65727b7b'...,\ndef run(value_list):\n total_free_cash_fl...,,"[{'number_value': 14182.0, 'scale': 'million',...",None,3680.00,million,7cd3aedf-1291-4fea-bc9d-a25c65727b7b,What is the 2018 average free cash flow?
20,"{'answer_type': 'arithmetic', 'answer': 547.5,...",367.0,million,{'uid': '22e20f25-669a-46b9-8779-2768ba391955'...,\ndef run(value_list):\n total_2018 = 0\n ...,,"[{'number_value': 14182.0, 'scale': 'million',...",None,547.50,million,22e20f25-669a-46b9-8779-2768ba391955,What is the change between 2018 and 2019 avera...
21,"{'answer_type': 'arithmetic', 'answer': 3728, ...",1570.0,,{'uid': 'a983501d-2eec-486d-9661-e520c7c8af5e'...,\ndef run(value_list):\n ebitda_values = [e...,,"[{'number_value': 9819.0, 'scale': '', 'catego...",None,3728.00,thousand,a983501d-2eec-486d-9661-e520c7c8af5e,What was the average difference between EBITDA...
22,"{'answer_type': 'arithmetic', 'answer': -16458...",3180.0,,{'uid': '64c902c6-f426-4432-84b3-c10b3065716f'...,\ndef run(value_list):\n net_profit_2019 = ...,,"[{'number_value': 9819.0, 'scale': '', 'catego...",None,-16458.00,thousand,64c902c6-f426-4432-84b3-c10b3065716f,What was the difference in net profit between ...
27,"{'answer_type': 'arithmetic', 'answer': 18, 's...",0,,{'uid': '6100c476-160a-4f1e-bfc1-a16f4cc18b52'...,\ndef run(value_list):\n cost_2018 = 0\n ...,,"[{'number_value': 201.0, 'scale': '', 'categor...",None,18.00,million,6100c476-160a-4f1e-bfc1-a16f4cc18b52,What was the increase / (decrease) in the cost...
28,"{'answer_type': 'arithmetic', 'answer': 399.33...",399.33,,{'uid': 'a81f1322-e74f-4e3c-a6cf-4b8d25d01cf5'...,\ndef run(value_list):\n total = 0\n cou...,,"[{'number_value': 201.0, 'scale': '', 'categor...",None,399.33,million,a81f1322-e74f-4e3c-a6cf-4b8d25d01cf5,"What is the average Selling, general and admin..."
29,"{'answer_type': 'arithmetic', 'answer': 88.06,...",,,{'uid': 'f7cac790-05ae-4a55-a41d-836a6b415f88'...,\ndef run(value_list):\n research_2018 = 0\...,,"[{'number_value': 201.0, 'scale': '', 'categor...",[Error]division by zero,88.06,percent,f7cac790-05ae-4a55-a41d-836a6b415f88,What is the percentage increase / (decrease) o...
30,"{'answer_type': 'arithmetic', 'answer': 0.2, '...",,,{'uid': '65ec782c-691e-45df-b541-caecb85154ff'...,\ndef run(value_list):\n capital_redemption...,,"[{'number_value': 6.0, 'scale': '', 'category'...",[Error]unsupported operand type(s) for -: 'flo...,0.20,million,65ec782c-691e-45df-b541-caecb85154ff,What was the change in Capital redemption rese...
31,"{'answer_type': 'arithmetic', 'answer': 40, 's...",,,{'uid': '94916f79-4b6d-487f-8fa2-39f81a085760'...,\ndef run(value_list):\n capital_redemption...,,"[{'number_value': 6.0, 'scale': '', 'category'...",[Error]unsupported operand type(s) for -: 'flo...,40.00,percent,94916f79-4b6d-487f-8fa2-39f81a085760,What was the percentage change in Capital rede...
32,"{'answer_type': 'arithmetic', 'answer': 0.51, ...",,,{'uid': '72325ec6-41ad-4648-9798-b22a61122cb4'...,\ndef run(value_list):\n goodwill_2017 = 0\...,,[],[Error]division by zero,0.51,percent,72325ec6-41ad-4648-9798-b22a61122cb4,How much is the percentage change of total goo...
33,"{'answer_type': 'arithmetic', 'answer': 0.7000...",,,{'uid': '4f7c8e0a-6ae9-40ee-bd16-06db6f96eaf1'...,\ndef run(value_list):\n dcg_2019 = 0\n ...,,[],[Error]division by zero,0.70,,4f7c8e0a-6ae9-40ee-bd16-06db6f96eaf1,What is the ratio of Data Center Group to Mobi...
34,"{'answer_type': 'arithmetic', 'answer': 13237....",64210.67,,{'uid': 'bbe335ff-414f-48b3-8126-5a2c7c505de3'...,\ndef run(value_list):\n total_operating_in...,,"[{'number_value': 27756.0, 'scale': '', 'categ...",None,13237.40,million,bbe335ff-414f-48b3-8126-5a2c7c505de3,How much was the average operating income from...
35,"{'answer_type': 'arithmetic', 'answer': 35796,...",60619.0,,{'uid': 'ef274d2b-fbd6-4e9f-95f9-79b37827d91c'...,\ndef run(value_list):\n total_expenses = 0...,,"[{'number_value': 27756.0, 'scale': '', 'categ...",None,35796.00,million,ef274d2b-fbd6-4e9f-95f9-79b37827d91c,What was the total expenses for Oracle in 2018?

In [13]:
resdf2

,0,1,2,3,4,5,6,7,answer,scale,qid,q
0,"{'answer_type': 'arithmetic', 'answer': -12.6,...",-12.6,,{'uid': 'eb787966-fa02-401f-bfaf-ccabf3828b23'...,\ndef run(value_list):\n other_2019 = next(...,,"[{'number_value': 1452.4, 'scale': '', 'catego...",None,-12.60,million,eb787966-fa02-401f-bfaf-ccabf3828b23,What is the change in Other in 2019 from 2018?
7,"{'answer_type': 'arithmetic', 'answer': 172, '...",166.0,million,{'uid': 'a0414f81-8dc2-44b2-a441-2c9d9c805c4d'...,\ndef run(value_list):\n total = 0\n cou...,,"[{'number_value': 166.0, 'scale': 'million', '...",None,172.00,million,a0414f81-8dc2-44b2-a441-2c9d9c805c4d,What is the 2019 average defined contribution ...
8,"{'answer_type': 'arithmetic', 'answer': 50.5, ...",57.0,million,{'uid': 'bf7abd62-d9cd-48d2-8826-1457684019a3'...,\ndef run(value_list):\n total = 0\n cou...,,"[{'number_value': 166.0, 'scale': 'million', '...",None,50.50,million,bf7abd62-d9cd-48d2-8826-1457684019a3,What is the 2019 average defined benefit schemes?
9,"{'answer_type': 'arithmetic', 'answer': 121.5,...",138.33,million,{'uid': '4d259081-6da6-44bd-8830-e4de0031744c'...,\ndef run(value_list):\n dc_values = [item[...,,"[{'number_value': 166.0, 'scale': 'million', '...",None,121.50,million,4d259081-6da6-44bd-8830-e4de0031744c,What is the difference between 2019 average de...
13,"{'answer_type': 'arithmetic', 'answer': 2.93, ...",0.0,,{'uid': 'ba6783f3-8207-419a-b407-3f688682caef'...,\ndef run(value_list):\n total_assets = 0\n...,,"[{'number_value': 118.0, 'scale': '', 'categor...",None,2.93,,ba6783f3-8207-419a-b407-3f688682caef,What is the ratio of IMFTâ€™s total assets to to...
14,"{'answer_type': 'arithmetic', 'answer': 0.87, ...",81.53,percent,{'uid': '263d03ec-83d2-48df-8376-1a72167798f7'...,\ndef run(value_list):\n total_assets_2018 ...,,"[{'number_value': 118.0, 'scale': '', 'categor...",None,0.87,,263d03ec-83d2-48df-8376-1a72167798f7,"What is the proportion of IMFTâ€™s property, pla..."
15,"{'answer_type': 'arithmetic', 'answer': -361, ...",-396.0,,{'uid': '78fc6d55-c20c-4f71-99fe-bc40a16e61d0'...,\ndef run(value_list):\n total_assets_2018 ...,,"[{'number_value': 118.0, 'scale': '', 'categor...",None,-361.00,,78fc6d55-c20c-4f71-99fe-bc40a16e61d0,What is the change of IMFTâ€™s total assets from...
16,"{'answer_type': 'arithmetic', 'answer': 73, 's...",,,{'uid': '35d602ae-9131-4291-a30c-49a40f32bbe4'...,\ndef run(value_list):\n vat_receivables_20...,,[],[Error],73.00,thousand,35d602ae-9131-4291-a30c-49a40f32bbe4,What was the change in Value added tax receiva...
17,"{'answer_type': 'arithmetic', 'answer': 14.07,...",,,{'uid': 'a4f782f1-de3b-47a3-87af-1cb33c112b39'...,\ndef run(value_list):\n vat_receivables_20...,,[],[Error],14.07,percent,a4f782f1-de3b-47a3-87af-1cb33c112b39,What was the percentage change in Value added ...
18,"{'answer_type': 'arithmetic', 'answer': 4227.5...",4411.0,million,{'uid': 'dc5e217a-a7b3-4fc9-ac0f-13d328f26b20'...,\ndef run(value_list):\n total_free_cash_fl...,,"[{'number_value': 14182.0, 'scale': 'million',...",None,4227.50,million,dc5e217a-a7b3-4fc9-ac0f-13d328f26b20,What is the 2019 average free cash flow?
19,"{'answer_type': 'arithmetic', 'answer': 3680, ...",4044.0,million,{'uid': '7cd3aedf-1291-4fea-bc9d-a25c65727b7b'...,\ndef run(value_list):\n total_free_cash_fl...,,"[{'number_value': 14182.0, 'scale': 'million',...",None,3680.00,million,7cd3aedf-1291-4fea-bc9d-a25c65727b7b,What is the 2018 average free cash flow?
20,"{'answer_type': 'arithmetic', 'answer': 547.5,...",367.0,million,{'uid': '22e20f25-669a-46b9-8779-2768ba391955'...,\ndef run(value_list):\n total_2018 = 0\n ...,,"[{'number_value': 14182.0, 'scale': 'million',...",None,547.50,million,22e20f25-669a-46b9-8779-2768ba391955,What is the change between 2018 and 2019 avera...
21,"{'answer_type': 'arithmetic', 'answer': 3728, ...",1570.0,,{'uid': 'a983501d-2eec-486d-9661-e520c7c8af5e'...,\ndef run(value_list):\n ebitda_values = [e...,,"[{'number_value': 9819.0, 'scale': '', 'catego...",None,3728.00,thousand,a983501d-2eec-486d-9661-e520c7c8af5e,What was the average difference between EBITDA...
22,"{'answer_type': 'arithmetic', 'answer': -16458...",3180.0,,{'uid': '64c902c6-f426-4432-84b3-c10b3065716f'...,\ndef run(value_list):\n net_profit_2019 = ...,,"[{'number_value': 9819.0, 'scale': '', 'catego...",None,-16458.00,thousand,64c902c6-f426-4432-84b3-c10b3065716f,What was the difference in net profit between ...
27,"{'answer_type': 'arithmetic', 'answer': 18, 's...",0,,{'uid': '6100c476-160a-4f1e-bfc1-a16f4cc18b52'...,\ndef run(value_list):\n cost_2018 = 0\n ...,,"[{'number_value': 201.0, 'scale': '', 'categor...",None,18.00,million,6100c476-160a-4f1e-bfc1-a16f4cc18b52,What was the increase / (decrease) in the cost...
28,"{'answer_type': 'arithmetic', 'answer': 399.33...",399.33,,{'uid': 'a81f1322-e74f-4e3c-a6cf-4b8d25d01cf5'...,\ndef run(value_list):\n total = 0\n cou...,,"[{'number_value': 201.0, 'scale': '', 'categor...",None,399.33,million,a81f1322-e74f-4e3c-a6cf-4b8d25d01cf5,"What is the average Selling, general and admin..."
29,"{'answer_type': 'arithmetic', 'answer': 88.06,...",,,{'uid': 'f7cac790-05ae-4a55-a41d-836a6b415f88'...,\ndef run(value_list):\n research_2018 = 0\...,,"[{'number_value': 201.0, 'scale': '', 'categor...",[Error]division by zero,88.06,percent,f7cac790-05ae-4a55-a41d-836a6b415f88,What is the percentage increase / (decrease) o...
30,"{'answer_type': 'arithmetic', 'answer': 0.2, '...",,,{'uid': '65ec782c-691e-45df-b541-caecb85154ff'...,\ndef run(value_list):\n capital_redemption...,,"[{'number_value': 6.0, 'scale': '', 'category'...",[Error]unsupported operand type(s) for -: 'flo...,0.20,million,65ec782c-691e-45df-b541-caecb85154ff,What was the change in Capital redemption rese...
31,"{'answer_type': 'arithmetic', 'answer': 40, 's...",,,{'uid': '94916f79-4b6d-487f-8fa2-39f81a085760'...,\ndef run(value_list):\n capital_redemption...,,"[{'number_value': 6.0, 'scale': '', 'category'...",[Error]unsupported operand type(s) for -: 'flo...,40.00,percent,94916f79-4b6d-487f-8fa2-39f81a085760,What was the percentage change in Capital rede...
32,"{'answer_type': 'arithmetic', 'answer': 0.51, ...",,,{'uid': '72325ec6-41ad-4648-9798-b22a61122cb4'...,\ndef run(value_list):\n goodwill_2017 = 0\...,,[],[Error]division by zero,0.51,percent,72325ec6-41ad-4648-9798-b22a61122cb4,How much is the percentage change of total goo...
33,"{'answer_type': 'arithmetic', 'answer': 0.7000...",,,{'uid': '4f7c8e0a-6ae9-40ee-bd16-06db6f96eaf1'...,\ndef run(value_list):\n dcg_2019 = 0\n ...,,[],[Error]division by zero,0.70,,4f7c8e0a-6ae9-40ee-bd16-06db6f96eaf1,What is the ratio of Data Center Group to Mobi...
34,"{'answer_type': 'arithmetic', 'answer': 13237....",64210.67,,{'uid': 'bbe335ff-414f-48b3-8126-5a2c7c505de3'...,\ndef run(value_list):\n total_operating_in...,,"[{'number_value': 27756.0, 'scale': '', 'categ...",None,13237.40,million,bbe335ff-414f-48b3-8126-5a2c7c505de3,How much was the average operating income from...
35,"{'answer_type': 'arithmetic', 'answer': 35796,...",60619.0,,{'uid': 'ef274d2b-fbd6-4e9f-95f9-79b37827d91c'...,\ndef run(value_list):\n total_expenses = 0...,,"[{'number_value': 27756.0, 'scale': '', 'categ...",None,35796.00,million,ef274d2b-fbd6-4e9f-95f9-79b37827d91c,What was the total expenses for Oracle in 2018?