In [2]:
import tatqa_utils
import pandas as pd

In [3]:
devdf = pd.read_json('dataset_raw/tatqa_dataset_dev.json')

In [4]:
import pandas as pd
import pyreadstat
from langchain_chroma import Chroma
from langchain_openai import OpenAIEmbeddings
import utils
from langchain_community.vectorstores import FAISS
from langchain_core.documents import Document
import numpy as np
from progress.bar import Bar
%load_ext autoreload
%autoreload 2

In [5]:
import os
with open('dataset_raw/openai.api.key', 'r') as filek: 
    openai_key = filek.read()
os.environ["OPENAI_API_KEY"] =  openai_key

In [6]:
from langchain.globals import set_llm_cache
from langchain_openai import ChatOpenAI
from langchain_community.cache import SQLiteCache

llm = ChatOpenAI(temperature=0)
set_llm_cache(SQLiteCache(database_path=".langchain.db"))

In [86]:
def gen_code(llm, question, table):    
    #question = question['question']
    prompt = f"Given the following table, can you generate a python code, without sample data, which can answer the following question? the code must contain only one function called 'run', and no wrapping class. The function would return results with format (value, scale). Do not write explanation, just code.\nQuestion: {question} \n Table: {table}"
    res = llm.invoke(prompt)
    code = res.content.replace('```python','').replace('```','')
    return (prompt, code)

def exec_code(code, table):  
    try: 
        loc = locals()   
        if not "run()" in code:
            exec(code + f"\nr = run({table})\n", globals(), loc)
        else: 
            exec(code + "\nr = run()\n", globals(), loc)
        return loc['r']
    except Exception as e:
            s = '[Error]'+ str(e)
            print(s)
            return (s,'')
#table = "[['', '', 'Years Ended September 30,', ''], ['', '2019', '2018', '2017'], ['Fixed Price', '$  1,452.4', '$  1,146.2', '$  1,036.9'], ['Other', '44.1', '56.7', '70.8'], ['Total sales', '$1,496.5', '$1,202.9', '$1,107.7']]"
#question = 'What is the change in Fixed Price in 2019 from 2018?'
table = "[['', 'December 31,', ''], ['', '2019', '2018'], ['Trade accounts receivable, net, noncurrent (Note 2)', '$26,496', '$15,948'], ['Equity method investments (Note 1)', '9,254', '9,702'], ['Net deferred tax assets, noncurrent (Note 20)', '6,774', '5,797'], ['Rent and other deposits', '6,106', '5,687'], ['Value added tax receivables, net, noncurrent', '592', '519'], ['Other', '6,723', '5,711'], ['', '$55,945', '$43,364']]"
question = {'question':'What was the percentage change in Value added tax receivables, net, noncurrent in 2019 from 2018?'}
( prompt, code) = gen_code(llm, question, table)
exec_code(code, table)

(14.065510597302506, '%')

In [87]:
from tqdm.notebook import tqdm as log_progress

res = []
for i, item in log_progress(devdf.iterrows()):
    table = item['table']['table']
    #print (i)
    for q in item['questions']:        
        if q['answer_type'] == 'arithmetic' and 'table' in q['answer_from']: 
            ( prompt, code)  = gen_code(llm, q, table)
            r = exec_code(code, table)
            err =  None
            if r is None:
                (pred_value, pred_unit) = (None, None)
            else:                
                if len(r) == 2:
                    (pred_value, pred_unit) = r                    
                    #print(pred_value, type(pred_value))
                    if isinstance(pred_value, str) and  pred_value.startswith('[Error]'):
                        (pred_value, pred_unit) = (None, None)
                        err,_ = r                                                        
                        
                elif len(r) == 1:
                    pred_value = r                
                else:
                    (pred_value, pred_unit) = (None, None)        
                
            #res.append({"table":table, "q":q, "pred":pred, "code": code})
            res.append(({"answer_type":q["answer_type"], "answer": q["answer"], 'scale': q["scale"]}, pred_value, pred_unit, q, code, prompt, item['table'], err))

0it [00:00, ?it/s]

[Error]invalid literal for int() with base 10: '6,106'
[Error]unterminated string literal (detected at line 3) (<string>, line 3)
[Error]'[' was never closed (<string>, line 2)
[Error]invalid literal for int() with base 10: ''
[Error]'[' was never closed (<string>, line 2)
[Error]could not convert string to float: '1,073.3'
[Error]invalid literal for int() with base 10: '$1625687'
[Error]could not convert string to float: '$1625687'
[Error]invalid literal for int() with base 10: '(7)'
[Error]invalid literal for int() with base 10: '(765)'
[Error]invalid literal for int() with base 10: '—'
[Error]invalid literal for int() with base 10: '$22'
[Error]invalid literal for int() with base 10: '(111)'
[Error]invalid literal for int() with base 10: '38,466'
[Error]invalid literal for int() with base 10: '(71)'
[Error]invalid literal for int() with base 10: '—'
[Error]'[' was never closed (<string>, line 2)
[Error]local variable 'value_2018' referenced before assignment
[Error]unsupported operand type(s) for -: 'str' and 'str'
[Error]invalid literal for int() with base 10: '(16664)'
[Error]could not convert string to float: '(2.3)'
[Error]could not convert string to float: 'High'
[Error]run() missing 1 required positional argument: 'table'
[Error]'(' was never closed (<string>, line 5)
[Error]invalid literal for int() with base 10: '(426)'
[Error]could not convert string to float: '(3.27)'
[Error]'(' was never closed (<string>, line 3)
[Error]'[' was never closed (<string>, line 2)
[Error]could not convert string to float: '$8.6'
[Error]could not convert string to float: '$1758'
[Error]'(' was never closed (<string>, line 12)
[Error]'2019' is not in list
[Error]invalid literal for int() with base 10: '345,041'
[Error]could not convert string to float: '(16)'
[Error]division by zero
[Error]invalid literal for int() with base 10: ''
[Error]invalid literal for int() with base 10: ''
[Error]'2019' is not in list
[Error]'(' was never closed (<string>, line 10)

In [76]:
from tatqa_metric import TaTQAEmAndF1

metrics = TaTQAEmAndF1()

for ans, pred, pred_scale, _,_, _,_ in res:
    metrics(ans, pred, pred_scale)
pred_em, pred_f1, scale_score, op_score = metrics.get_overall_metric(reset=True)
print( pred_em, pred_f1, scale_score)

0.8133903133903134 0.8133903133903134 0.8945868945868946

In [77]:
c = 0
for i, item in devdf.iterrows():
    table = item['table']['table']
    #print (i)
    for q in item['questions']:        
        if q['answer_type'] == 'arithmetic' and 'table' in q['answer_from']: 
            c = c+1
c

702

In [78]:
from tatqa_metric import TaTQAEmAndF1

metrics = TaTQAEmAndF1()

for ans, pred, pred_scale, _,_, _,_ in res:
    metrics(ans, pred, pred_scale)
pred_em, pred_f1, scale_score, op_score = metrics.get_overall_metric(reset=True)
print( pred_em, pred_f1, scale_score)

0.8133903133903134 0.8133903133903134 0.8945868945868946

In [79]:
import pickle
with open('res_p15_unit.pickle', 'wb') as f:
    pickle.dump(res,f)

In [80]:

for idx,i in enumerate(res):
    if i[-1]is not None:  
        print(idx, i[-2]['uid'], i[3]['uid'],i[-1])

17 789efd09-04a2-45c7-84e5-47d3543695d1 a4f782f1-de3b-47a3-87af-1cb33c112b39 [Error]invalid literal for int() with base 10: '6,106'
21 77d8e381-01d0-4cf9-882e-e1162db2cff2 a983501d-2eec-486d-9661-e520c7c8af5e [Error]unterminated string literal (detected at line 3) (<string>, line 3)
36 386352cf-f7e3-4148-920c-63bc57cf156b 191c3926-7356-4ab8-a8f9-41e7b7c8a492 [Error]'[' was never closed (<string>, line 2)
37 386352cf-f7e3-4148-920c-63bc57cf156b bd2d81eb-46fc-4e62-908d-aebfccf46246 [Error]invalid literal for int() with base 10: ''
38 386352cf-f7e3-4148-920c-63bc57cf156b 010df393-a62e-408d-888a-045a4e435e6a [Error]'[' was never closed (<string>, line 2)
48 0f012382-d9ba-409c-94db-0b9bf50d0746 fa43e8cd-7fea-4738-85ee-f61ae8529f96 [Error]could not convert string to float: '1,073.3'
71 68bafc82-b795-4c7b-9506-e901223c3526 1e20b997-cb3b-4bc5-93e6-b45dbe945fb5 [Error]invalid literal for int() with base 10: '$1625687'
72 68bafc82-b795-4c7b-9506-e901223c3526 3b5bb347-41c7-499a-b044-87b9a04b0833 [Error]could not convert string to float: '$1625687'
85 361835e5-b8ba-49c5-9ebb-ce0aa5eca2bf cf89ffee-b551-4e34-9321-30325df32cc1 [Error]invalid literal for int() with base 10: '(7)'
87 a3aadeea-1c1a-4449-9244-d5e8e1d7f277 6a441650-9d8a-43a0-8906-bec97a73ca2c [Error]invalid literal for int() with base 10: '(765)'
107 c29582f8-d95d-480c-8daf-320273546471 61451090-3f7b-4fb1-b405-64a786d937d8 [Error]invalid literal for int() with base 10: '—'
134 2f655c5a-3936-48e6-aa15-4145a5c12c3f 00a60f91-b2d2-4bc5-acc4-69121abf68a9 [Error]invalid literal for int() with base 10: '$22'
136 4e94f70f-b7e3-453e-ae92-846768589e75 e18e3335-7e7a-4138-9f1b-813604e44c3c [Error]invalid literal for int() with base 10: '(111)'
141 1c48b8a3-6132-49e3-b966-e8f6198a8724 b11567d3-d651-40d8-9b9e-bc71eb37d7f9 [Error]invalid literal for int() with base 10: '38,466'
165 15348b2f-52e0-498d-b0ea-b73ae40815b3 c36e2211-e46a-43d1-a0a8-ae87af347ae8 [Error]invalid literal for int() with base 10: '(71)'
167 2d43502e-4c4a-4334-954c-25502374d317 e81574d8-f9e8-48b3-85ab-a7ed36f8cbb0 [Error]invalid literal for int() with base 10: '—'
185 62425e9b-b7de-4d31-9565-1042ad9e4926 c0d6605c-50c2-42b1-94f6-c4c601559918 [Error]'[' was never closed (<string>, line 2)
203 a86d227e-37d3-446b-8d4a-793aff901edc 2e569f93-d58b-44a7-a947-ea6784b0623d [Error]local variable 'value_2018' referenced before assignment
213 502dd70a-926b-49d7-b236-63855c98e740 b8afd327-b836-4276-8556-eac89746b09f [Error]unsupported operand type(s) for -: 'str' and 'str'
220 e6c3cb87-13e2-49c8-81dc-d913b2071499 e314bfab-8cd6-4bb3-b0e6-df664300c380 [Error]invalid literal for int() with base 10: '(16664)'
221 e8877535-8ade-4ba3-aae2-cd4db2b5c59c f96cce90-9703-4b6b-9ea4-1a650ac8765a [Error]could not convert string to float: '(2.3)'
268 e5fc54e8-4656-4277-a0a8-db9a938aca3d e378f03f-8e13-4020-b4ba-641859e16e25 [Error]could not convert string to float: 'High'
354 001e29d7-77e9-4434-9a3d-f72ef640fa79 a8ab5675-0560-4cd0-a294-76fd54b04ad6 [Error]run() missing 1 required positional argument: 'table'
360 f50c6b84-25c9-418a-aba1-6cd025b904e3 153f3925-277e-4fe8-8edc-50a5089420ea [Error]'(' was never closed (<string>, line 5)
395 fb333978-9a21-401f-9660-ccdff2e36d02 9238f11f-18d1-416b-ad2d-2692229c8d3a [Error]invalid literal for int() with base 10: '(426)'
396 fa0d7378-4217-44f1-bfb0-38688f03bdf3 61610e9a-13c4-4670-8616-c6218f7793ad [Error]could not convert string to float: '(3.27)'
430 1f631856-89ba-471a-b65d-86801ec07401 90f9af10-77ac-441c-a53d-3167c15ad61b [Error]'(' was never closed (<string>, line 3)
441 46466da8-bb43-453f-aa9b-f2230b663864 fd303846-a740-4d73-b19a-961fa0d7b71b [Error]'[' was never closed (<string>, line 2)
466 808ccf05-6f40-43d5-a71f-154ed45ce499 ed47e72c-c67c-4c61-abfa-9aefcf4caa89 [Error]could not convert string to float: '$8.6'
468 5b874c83-80f7-48d2-bdac-166f2c778e37 a9fa838a-1b85-47f0-a6f7-716f8bb333a1 [Error]could not convert string to float: '$1758'
474 d8d5f6c9-b21f-45dc-9cd2-acd8450d46ed ad42fe3e-38cd-446f-a313-b9a50f5e6937 [Error]'(' was never closed (<string>, line 12)
502 31e184c6-4ede-4ff4-b0b6-389be6438c42 fd8d07ff-964d-4689-a845-575b95201ca5 [Error]'2019' is not in list
510 ed571eb6-d635-44a0-84c3-1d21115db374 e93ba03b-59c0-4107-8f4b-ce9da002e06c [Error]invalid literal for int() with base 10: '345,041'
523 d670b78b-9130-4fa3-aa11-2e5b4925c743 79f658b0-e8e5-4b83-bdbe-4d4f96261c69 [Error]could not convert string to float: '(16)'
606 43f8c656-9ff1-4b11-b64b-20c049094b6e 26971fd2-ea63-4009-a394-b38d7cca0f97 [Error]division by zero
645 861ad987-4b1b-40e0-bef3-1fbd25a33c6b 6c4b20ff-34f4-4d53-aa16-de4fecd30f3e [Error]invalid literal for int() with base 10: ''
647 861ad987-4b1b-40e0-bef3-1fbd25a33c6b 60b10a63-4d7d-4ef8-9400-f0d8a6ee3ffe [Error]invalid literal for int() with base 10: ''
655 d8d662b8-dbd2-4450-a1fd-7cf111b4236a 14beaf69-31ed-4967-99b0-132a760d9ede [Error]'2019' is not in list
691 bee68d71-44ca-4177-a1c7-8c127f6f9203 5b48fea5-61de-401b-aea9-b2b90b7a0eeb [Error]'(' was never closed (<string>, line 10)

In [36]:
item = devdf.iloc[0]
table = item['table']['table']
for q in item['questions']:        
    if q['answer_type'] == 'arithmetic' and 'table' in q['answer_from']: 
        print("==========")
        code = gen_code(llm, q, table)
        for l in table:
            print(l)
        print("\n", q['question'],"\n")
        print(code)
        r = exec_code(code, table)
        print(r, q['answer'], q['scale'])

==========
['', '', 'Years Ended September 30,', '']
['', '2019', '2018', '2017']
['Fixed Price', '$  1,452.4', '$  1,146.2', '$  1,036.9']
['Other', '44.1', '56.7', '70.8']
['Total sales', '$1,496.5', '$1,202.9', '$1,107.7']

 What is the change in Other in 2019 from 2018?

def run():
    table = [['', '', 'Years Ended September 30,', ''], ['', '2019', '2018', '2017'], ['Fixed Price', '$ 1,452.4', '$ 1,146.2', '$ 1,036.9'], ['Other', '44.1', '56.7', '70.8'], ['Total sales', '$1,496.5', '$1,202.9', '$1,107.7']]

    value_2019 = float(table[3][1])
    value_2018 = float(table[3][2])

    return (value_2019 - value_2018, 'million')
(-12.600000000000001, 'million') -12.6 million
==========
['', '', 'Years Ended September 30,', '']
['', '2019', '2018', '2017']
['Fixed Price', '$  1,452.4', '$  1,146.2', '$  1,036.9']
['Other', '44.1', '56.7', '70.8']
['Total sales', '$1,496.5', '$1,202.9', '$1,107.7']

 What is the percentage change in Other in 2019 from 2018?

def run():
    return (-22.22, 'percent')
(-22.22, 'percent') -22.22 percent

In [57]:
import re 
def remove_thousand_separators(text):
    # This regular expression matches numbers with commas as thousand separators
    return re.sub(r'(?<=\d),(?=\d{3})', '', text)

remove_thousand_separators('alma 123,432')

'alma 123432'

In [63]:

for idx, item in devdf.iterrows():
    if item['table']['uid'] == '789efd09-04a2-45c7-84e5-47d3543695d1':        
        for q in item['questions']:
            if q['uid'] == 'a4f782f1-de3b-47a3-87af-1cb33c112b39':
                table = item['table']['table']
                table = [remove_thousand_separators(cell) for row in table for cell in row]
                if q['answer_type'] == 'arithmetic' and 'table' in q['answer_from']: 
                    print("==========")
                    code = gen_code(llm, q, table)
                    for l in table:
                        print(l)
                    print("\n", q['question'],"\n")
                    print(code)
                    r = exec_code(code, table)
                    print(r, q['answer'], q['scale'])

==========

December 31,


2019
2018
Trade accounts receivable, net, noncurrent (Note 2)
$26496
$15948
Equity method investments (Note 1)
9254
9702
Net deferred tax assets, noncurrent (Note 20)
6774
5797
Rent and other deposits
6106
5687
Value added tax receivables, net, noncurrent
592
519
Other
6723
5711

$55945
$43364

 What was the percentage change in Value added tax receivables, net, noncurrent in 2019 from 2018?

def run():
    return (14.07, 'percent')
(14.07, 'percent') 14.07 percent

In [60]:
table

[['', 'December 31,', ''],
 ['', '2019', '2018'],
 ['Trade accounts receivable, net, noncurrent (Note 2)', '$26,496', '$15,948'],
 ['Equity method investments (Note 1)', '9,254', '9,702'],
 ['Net deferred tax assets, noncurrent (Note 20)', '6,774', '5,797'],
 ['Rent and other deposits', '6,106', '5,687'],
 ['Value added tax receivables, net, noncurrent', '592', '519'],
 ['Other', '6,723', '5,711'],
 ['', '$55,945', '$43,364']]

In [88]:
res[0]

({'answer_type': 'arithmetic', 'answer': -12.6, 'scale': 'million'},
 -12.600000000000001,
 'million',
 {'uid': 'eb787966-fa02-401f-bfaf-ccabf3828b23',
  'order': 5,
  'question': 'What is the change in Other in 2019 from 2018?',
  'answer': -12.6,
  'derivation': '44.1-56.7',
  'answer_type': 'arithmetic',
  'answer_from': 'table-text',
  'rel_paragraphs': ['2'],
  'req_comparison': False,
  'scale': 'million'},
 "def run():\n    table = [['', '', 'Years Ended September 30,', ''], ['', '2019', '2018', '2017'], ['Fixed Price', '$ 1,452.4', '$ 1,146.2', '$ 1,036.9'], ['Other', '44.1', '56.7', '70.8'], ['Total sales', '$1,496.5', '$1,202.9', '$1,107.7']]\n    \n    value_2019 = float(table[3][1])\n    value_2018 = float(table[3][2])\n    \n    return (value_2019 - value_2018, 'million')",
 "Given the following table, can you generate a python code, without sample data, which can answer the following question? the code must contain only one function called 'run', and no wrapping class. The function would return results with format (value, scale). Do not write explanation, just code.\nQuestion: {'uid': 'eb787966-fa02-401f-bfaf-ccabf3828b23', 'order': 5, 'question': 'What is the change in Other in 2019 from 2018?', 'answer': -12.6, 'derivation': '44.1-56.7', 'answer_type': 'arithmetic', 'answer_from': 'table-text', 'rel_paragraphs': ['2'], 'req_comparison': False, 'scale': 'million'} \n Table: [['', '', 'Years Ended September 30,', ''], ['', '2019', '2018', '2017'], ['Fixed Price', '$  1,452.4', '$  1,146.2', '$  1,036.9'], ['Other', '44.1', '56.7', '70.8'], ['Total sales', '$1,496.5', '$1,202.9', '$1,107.7']]",
 {'uid': '3ffd9053-a45d-491c-957a-1b2fa0af0570',
  'table': [['', '', 'Years Ended September 30,', ''],
   ['', '2019', '2018', '2017'],
   ['Fixed Price', '$  1,452.4', '$  1,146.2', '$  1,036.9'],
   ['Other', '44.1', '56.7', '70.8'],
   ['Total sales', '$1,496.5', '$1,202.9', '$1,107.7']]},
 None)