In [1]:
import re

# List of tables to process
tables = [
    [['(In Millions)', 'Dec 29, 2018', 'Acquisitions', 'Transfers', 'Other', 'Dec 28, 2019'],
     ['Data Center Group', '$5,424', '$1,758', '$—', '$—', '$7,155'],
     ['Internet of Things Group', '1,579', '—', '—', '—', '1,579'],
     ['Mobileye', '10,290', '—', '—', '—', '10,290'],
     ['Programmable Solutions Group', '2,579', '67', '—', '8', '2,681'],
     ['Client Computing Group', '4,403', '—', '—', '(70)', '4,333'],
     ['All other', '238', '—', '—', '—', '238'],
     ['Total', '$24,513', '$1,825', '$—', '$(62)', '$26,276']],

    [['(In Millions)', 'Dec 30, 2017', 'Acquisitions', 'Transfers', 'Other', 'Dec 29, 2018'],
     ['Data Center Group', '$5,421', '$3', '$—', '$—', '$5,424'],
     ['Internet of Things Group', '1,126', '16', '480', '(43)', '1,579'],
     ['Mobileye', '10,278', '7', '—', '5', '10,290'],
     ['Programmable Solutions Group', '2,490', '89', '—', '—', '2,579'],
     ['Client Computing Group', '4,356', '47', '—', '—', '4,403'],
     ['All other', '718', '—', '(480)', '—', '238'],
     ['Total', '$24,389', '$162', '$—', '$(38)', '$24,513']],

    [['', 'December 31,', ''],
     ['', '2019', '2018'],
     ['Trade accounts receivable, net, noncurrent (Note 2)', '$26,496', '$15,948'],
     ['Equity method investments (Note 1)', '9,254', '9,702'],
     ['Net deferred tax assets, noncurrent (Note 20)', '6,774', '5,797'],
     ['Rent and other deposits', '6,106', '5,687'],
     ['Value added tax receivables, net, noncurrent', '592', '519'],
     ['Other', '6,723', '5,711'],
     ['', '$55,945', '$43,364']],

    [['As of', '2019', '2018'],
     ['Assets', '', ''],
     ['Cash and equivalents', '$130', '$91'],
     ['Receivables', '128', '126'],
     ['Inventories', '124', '114'],
     ['Other current assets', '9', '8'],
     ['Total current assets', '391', '339'],
     ['Property, plant, and equipment', '2,235', '2,641'],
     ['Other noncurrent assets', '38', '45'],
     ['Total assets', '$2,664', '$3,025'],
     ['Liabilities', '', ''],
     ['Accounts payable and accrued expenses', '$118', '$138'],
     ['Current debt', '696', '20'],
     ['Other current liabilities', '37', '9'],
     ['Total current liabilities', '851', '167'],
     ['Long-term debt', '53', '1,064'],
     ['Other noncurrent liabilities', '5', '74'],
     ['Total liabilities', '$909', '$1,305']]
]

# Function to extract data with contextual information from tables
def extract_data_general(tables):
    results = []

    for table in tables:
        headers = table[0]
        context_stack = []

        for row in table[1:]:
            # Use the first cell of the row as a label if it's not empty
            label = row[0].strip()
            if label:
                context_stack = [label]

            # Iterate through the row's values (skipping the first label cell)
            for i in range(1, len(row)):
                value = row[i].strip()
                if value and value != '—':
                    # Clean and convert the value
                    numeric_value = float(value.replace('$', '').replace(',', '').replace('(', '-').replace(')', ''))

                    # Gather contextual information
                    info = context_stack + [headers[i]]

                    results.append({
                        "value": numeric_value,
                        "info": [item for item in info if item]  # Exclude empty strings
                    })

    return results

# Extract the data
data_extracted = extract_data_general(tables)

# Print the extracted data
import pprint
pprint.pprint(data_extracted)

ValueError: could not convert string to float: '—'

In [5]:
input_str = '21 December 198 212121'

def s(input_str):
    pattern = r"\b\d{4}\b"
    regex = re.compile(pattern, re.VERBOSE)
    match = regex.search(input_str)
    if not match:
        return False
    return True
s(input_str)

False